-var leftMenu = { 'Accueil': '/', 'Lasers': '/lasers', 'Casques': '/helmets', 'Contact': '/contact', Panier: '/cart' };
-var rightMenu = { 'Dashboard': '/dashboard', 'Logout': '/logout' };

nav.navbar.navbar-default
  .container
    .navbar-header
      a(href='/', class='navbar-brand') eStarWars
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        each val, key in leftMenu
          li
            a(href=val, title=key)= key
      if user
        ul.nav.navbar-nav.navbar-right
          li
            p.navbar-text Bonjour #{user.firstname}
          each val, key in rightMenu
            li
              a(href=val, title=key)= key
      else
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/login') Login
          li
            a(href='/signup') Signup



