extends layout

block content

  .panel.panel-default.panel-sent
    .panel-heading
      h3.panel-title Commande effectué !
    .panel-body
      h1
        span.label Que la force soit avec toi !


