doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    base(href='/')
    title= 'May the force be with you'

    meta(name='description', content='Here you can find sublime lasers and helmets')

    link(rel='stylesheet', href='app.css')

  body.container
    include includes/header

    main
      block content

  include includes/footer

    script(src='app.js', defer)
