extends layout

block content

  h1 login page

  form(action='' method='post')
    input(type='email' name='email' placeholder='Email')
    input(type='password' name='password' placeholder='Password')
    input(type='submit' value='login')
