extends layout

block content

  .panel.panel-default.panel-login
    .panel-heading
      h3.panel-title Login
    .panel-body
      - if (userCreated === true)
        h1.h1-login
          span.label.label-success Compte Créé
    
      form(action='/login' method='post' class='login-form')
        .input-group
          span.input-group-addon
            span.glyphicon.glyphicon-envelope
          input(type='email' class="form-control" name='email' placeholder='Email' value=userSaved ? userSaved.email : '')
        .input-group
          span.input-group-addon
            span.glyphicon.glyphicon-lock
          input(type='password' class="form-control" name='password' placeholder='Password')
        button(type='submit' class='btn btn-default') Login
