extends layout

block content
        
  .panel.panel-default.panel-sent
    .panel-heading
      h3.panel-title Contact
    .panel-body
      h1
        span.label.label-success Message Envoyé

            